*{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
}

.nav-item .icons{
    width: 32px;
    height: 32px;
}

.bg-light{
    background-color: #fff !important;
    box-shadow: 1px 1px 9px 0px #ddd;
}

.navbar-nav:nth-child(2){
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar{
    padding: 1% 3%;
    height: 10%;
}

.navbar-brand{
    margin: 0px;
}

.navbar img{
    width: 80%;
}

.nav-item{
    margin: 0 10px;
    font-size: 14px;
}

.nav-item .nav-link{
    color: #0000;
    font-weight: 600;
}

/* Modal para itens no carrginho */

.modal-items{
    display: none;
    position: absolute;
    right: 3%;
    width: 23%;
    padding: 1%;
    background-color: #f1f1f1;
    height: 60%;
    padding: 2% 0%;
}

.modal-items ul{
    text-decoration: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
}

.modal-items li{
    margin-bottom: 7%;
    padding-bottom: 3%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e6e6e6;
}

.modal-items .title{
    font-size: 14px;
    margin-top: 4%;
    color: #585858;
    font-weight: bold;
    overflow: hidden;
    max-width: 16ch;
    max-height: 4ch;
}

.description{
    font-size: 14px;
    padding: 0;
    color: #535555;
}
.description-money{
    font-size: 14px;
    padding: 0;
    color: #5cbe26 !important;
    font-weight: bold;
}

.strong{
    font-weight: bold;
}

.actions li{
    margin: 0px 25px;
}

/* Price into modal items */

.total-price{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #e6e6e6 !important;
    width: 100%;
    min-height: 70px;
    color: #535555;
}

.finish-shopping{
    width: 100%;
    min-height: 50px;
}

.finish-shopping button{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #5cbe26;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.seta-cima:before {
    position: absolute;
    z-index: 1;
    top: -3%;
    left: 82%;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
  
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f1f1f1;
  }
  


@media only screen and (max-width: 600px) {
    .modal-items{
        width: 50%;
        right: 6%;
    }

    .modal-items ul{
        padding: 10px;
    }

    .navbar-collapse{
        position: absolute;
        top: 100%;
        background-color: #ddd;
        width: 100%;
        padding: 0;
        left: 0;
        margin: 0;    
    }


    .total-price{
        flex-wrap: wrap;
        padding: 1% 10%;
        text-align: center;
    }

    .finish-shopping button{
        font-size: 14px;
    }

    .description{
        font-size: 11px;
    }

    .description-money{
        font-size: 11px;
    }

    .navbar-brand{
        width: 50%;
    }

    .navbar{
        height: 15%
    }

    .actions{
        display: flex;
        flex-direction: row;
    }

    .nav-item .icons{
        width: 24px;
        height: 24px;
    }

    .seta-cima:before {
        left: 13%;
    }

}


@media only screen and (max-width: 1024px) {
    .actions{
        display: flex;
        flex-direction: row;
    }


    .navbar-collapse{
        position: absolute;
        top: 100%;
        background-color: #ddd;
        width: 100%;
        padding: 0;
        left: 0;
        margin: 0;    
    }

    .nav-item .icons{
        width: 24px;
        height: 24px;
    }

    .seta-cima:before {
        left: 70%;
    }
    
}
